<!-- Toolbar -->
<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <ngb-datepicker #d id="pickup_date" type="date" [(ngModel)]="new_pickup.pickupDate"></ngb-datepicker>
        </div>
        <div class="col-6">
            <label for="weight" class="row">How much: </label>
            <input id="weight" class="row" [(ngModel)]="new_pickup.weight" placeholder="0 kg">
            <button type="button" class="row" (click)="schedulePickup(new_pickup)">Schedule pickup</button>
        </div>
      </div>
    </div>

    <div class="vr"></div>

    <div class="container">
      <ul class="list-group list-group-horizontal" *ngFor="let scheduled_pickup of scheduled_pickups">
        <li class="list-group-item flex-fill">
          {{scheduled_pickup.pickupDate.year}}-{{scheduled_pickup.pickupDate.month | number: '2.0-0'}}-{{scheduled_pickup.pickupDate.day | number: '2.0-0'}}
        </li>
        <li class="list-group-item flex-fill">{{scheduled_pickup.weight}}</li>
        <li class="list-group-item list-group-item-action list-group-item-danger" style="width: 150px;" (click)="cancelPickup(scheduled_pickup)">Cancel pickup</li>
      </ul>
    </div>


    <svg id="rocket-smoke" xmlns="http://www.w3.org/2000/svg" width="516.119" height="1083.632" viewBox="0 0 516.119 1083.632">
      <title>Rocket Ship Smoke</title>
      <path id="Path_40" data-name="Path 40" d="M644.6,141S143.02,215.537,147.049,870.207s342.774,201.755,342.774,201.755S404.659,847.213,388.815,762.2c-27.116-145.51-11.551-384.124,271.9-609.1C671.15,139.365,644.6,141,644.6,141Z" transform="translate(-147.025 -140.939)" fill="#f5f5f5"/>
    </svg>

  </div>



<router-outlet></router-outlet>
